---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'variables';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: $helvetica;
  color: $grey;
}

// this allows height percentages to work on child elements
html,
body,
.introduction {
  height: 100%;
  margin: 0;
}

.wrapper {
  @include outer-container;
  padding: 0 1rem;
}

section:not(.introduction) {
  @include span-columns(10 of 12);
  @include shift(1 of 12);
  padding: 2rem 0 3rem;

  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
  }
}

footer {
  background: $offwhite;
  padding: 4rem 0;

  p {
    font-size: .8rem;
    margin: 0 0 .5rem;
  }
}

img {
  max-width: 100%;
}

// General Typography

h1,
h2,
h3,
h4 {
  font-family: $domine;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 0 1rem;
}

h2,
h3 {
  font-weight: 500;
  margin: 0 0 1rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 0 1rem;
}

h6 {
  font-size: .8rem;
  margin: 0 0 .2rem;
}

p {
  line-height: 1.4;
  margin: 0 0 1rem;
}

button {
  background: none;
  border: 2px solid $grey;
  padding: 0;
  margin: 2rem 0 1rem;
  display: block;
  font-family: $domine;
  text-align: center;
  font-size: 1rem;
  transition: .15s all ease;

  &:hover {
    background: rgba(0,0,0,.2);
  }

  a {
    display: block;
    padding: 1rem 2rem;

    &:hover,
    &:active,
    &:visited,
    &:link {
      color: $grey;
      text-decoration: none;
    }
  }
}

// Section specifics

.introduction {
  position: relative;
  width: 100%;
  height: 100%;
  height: 100vh;
  border: 1.3rem solid #fff;

  h1 {
    color: #fff;
  }

  h2 {
    color: $grey;
  }
}

.textwrap {
  @include span-columns(6 of 12);
  @include shift(5 of 12);

  margin-top: 50vh;
  transform: translateY(-50%);

  @include media($tablet) {
    @include span-columns(6 of 8);
    @include shift(0);
  }

  @include media($mobile) {
    @include span-columns(12 of 12);
    @include shift(0);
  }
}

.logo {
  @include span-columns(1 of 2);
  margin-top: 1rem;
}

.photoBG {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: $orange;

  > img {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;

    @include media($tablet) {
      width: 75%;
    }
  }
}

.twocol {
  column-count: 2;

  @include media($mobile) {
    column-count: 1;
  }
}

footer .title {
  @include span-columns(7 of 12);
  @include shift(1);

  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
    margin-bottom: 2rem;
  }
}

.copyright {
  @include span-columns(4 of 12);
  @include shift(1);
}

.credits {
  @include span-columns(3 of 12);
}

.contact {
  @include span-columns(3 of 12);
}

.copyright,
.credits,
.contact {
  border-top: 1px solid $grey;
  padding-top: 1rem;

  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
    margin-bottom: 2rem;
  }
}
