---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'bourbon';
@import 'neat';
@import 'variables';

body {
  font-size: 16px;
}

// this allows height percentages to work on child elements
html,
body,
.wrapper {
  height: 100%;
}

.wrapper {
  @include outer-container;
}

footer {
  @include span-columns(12);
}

// General Typography

h1,
h2,
h3 {
  font-family: $domine;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

h2,
h3 {
  font-weight: 500;
}

// Section specifics

.textwrap {
  @include span-columns(8);
}

.photoBG {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  background: $orange;
}
