<footer>

  <div class="wrapper">

    <h4 class="title">People-Powered Media Innovation in West Africa</h4>

    <div class="copyright">

      <h6>Copyright 20{{ site.time | date: '%y' }}</h6>
      <p>The material in this work is subject to copyright. Reboot, however, encourages the dissemination of knowledge under a Creative Commons Attribution license (CC BY). Parties interested in reproducing this work in whole or in part are encouraged to contact Reboot. All queries on rights and licenses should be directed to hello@reboot.org.</p>
      <p>While Omidyar Network is pleased to sponsor (or co-sponsor) this report, the conclusions, opinions, or points of view expressed in the report are those of the authors and do not necessarily represent the views of Omidyar Network.</p>

    </div>

    <div class="credits">

      <h6>Authors &amp; Researchers:</h6>
      <p>Panthea Lee, Nonso Jideofor, Kate Reed Petty</p>
      <h6>Researchers:</h6>
      <p>Adam Talsma, Akinloluwa Olaoluwa, Tahir Sherriff, Ken Henshaw, Lauren Gardner, Merlin Chatwin</p>
      <h6>Designers:</h6>
      <p>Adam Parker, Emily Herrick</p>

    </div>

    <div class="contact">

      <p>For more information, contact:</p>

      <div class="person">

        <h6>Panthea Lee</h6>
        <p>Reboot<br />
          panthea@reboot.org</p>

      </div>

      <div class="person">

        <h6>Khuram Hussain</h6>
        <p>Omidyar Network<br />
          khussain@omidyar.com</p>

      </div>

    </div>

  </div>

</footer>
