<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <section class="introduction">

      <div class="photoBG">
        <img src="{{ site.baseurl }}/img/photo.png" alt="A woman holding a speaking to a crowd" />
      </div>

      <div class="wrapper">

        <div class="textwrap">

          <h1>People-Powered Media Innovation in West Africa</h1>
          <h2>Accelerating development &amp; good governance in the new media landscape</h2>
          <a class="button" target="_blank" href="{{ site.baseurl }}/assets/2016_People-Powered-Media-Innovation-in-West-Africa.pdf">Download the Report</a>
          <div class="clearfix"></div>
          <a class="logo" href="http://reboot.org"><img src="{{ site.baseurl }}/img/logo_reboot.png" alt="Reboot logo" /></a>
          <a class="logo" href="https://www.omidyar.com/"><img src="{{ site.baseurl }}/img/logo_omidyarnetwork.png" alt="Omidyar Network logo" /></a>

        </div>

      </div>

    </section>

    <div class="wrapper">

      <section>
        {{ content }}
      </section>

    </div>

    {% include footer.html %}

  </body>

</html>
